# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/.DS_Store
client/dist
client/dist-ssr
client/coverage
client/*.local

client/cypress/videos/
client/cypress/screenshots/

# Editor directories and files (these can stay at root level unless specific to client)
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

client/*.tsbuildinfo

# Angular client
# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
angular-client/dist
angular-client/tmp
angular-client/out-tsc
angular-client/bazel-out

# Node
angular-client/node_modules
angular-client/npm-debug.log
angular-client/yarn-error.log

# IDEs and editors
angular-client/.idea/
angular-client/.project
angular-client/.classpath
angular-client/.c9/
angular-client/*.launch
angular-client/.settings/
/*.sublime-workspace

# Visual Studio Code
angular-client/.vscode/*
angular-client/!.vscode/settings.json
angular-client/!.vscode/tasks.json
angular-client/!.vscode/launch.json
angular-client/!.vscode/extensions.json
angular-client/.history/*

# Miscellaneous
angular-client/.angular/cache
angular-client/.sass-cache/
angular-client/connect.lock
angular-client/coverage
angular-client/libpeerconnection.log
angular-client/testem.log
angular-client/typings

# System files
angular-client/.DS_Store
angular-client/Thumbs.db


# Node app
node/node_modules
node/build
node/npm-debug.log
node/.nyc
node/.env
node/.DS_Store
