<div class="flex flex-col h-full lg:min-w-md bg-blue-200">
  <h1 class="text-2xl text-center py-2">Servers</h1>

  <div class="flex flex-col items-center gap-4 px-4">
    <ul class="flex justify-center px-4 py-2 bg-white w-full rounded-lg">
      <p *ngIf="(state$ | async)?.servers?.length == 0">No servers.</p>
      <li *ngFor="let server of (state$ | async)?.servers">
        <app-server [name]="server.name"/>
      </li>
    </ul>
    <button
      (click)="handleOpenModal()"
      type="button"
      class="text-xl text-white bg-blue-600 hover:bg-blue-700 hover:ring-2 hover:ring-blue-300 hover:cursor-pointer transition-all duration:200 px-4 py-2 rounded-md"
    >
      Add Server
    </button>
  </div>
</div>
