@font-face {
  font-family: 'Franklin Gothic Medium Italic';
  src: url('../../../assets/fonts/OPTIFranklinGothic-MediumIt.otf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

.franklin-gothic {
  font-family: 'Franklin Gothic Medium Italic', sans-serif;
}